.dark-theme {
  background-color: #121212;
  color: white;
}

.dark-theme .card {
  background-color: #1e1e1e;
  color: white;
}

.dark-theme .table {
  color: white;
}

.dark-theme .navbar {
  background-color: #000 !important;
}